body{
  background-color: black;
  background-image: url(Girl.jpg_large);
}
.body1{
  background-color: grey;
}
.head{
  color: white;
  font-size: 50px;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  margin-top: 40px;
  background-color: grey;
  width: 100%;
  text-decoration: none;
}
.head2{
  color: white;
  font-size: 20px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
  background-color: grey;
  width: 100%
}
.navbar{
  background-color: grey;
  top: 0;
  position: fixed;
  width: 100%;
  height: 50px;
}
.navbar a {
    display: block;
    float: left;
    color: white;
    font-family:Tahoma, Geneva, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
}
.pictures{
  padding: 100px 0px 0px 0px;
}

#supreme{
  width: 250px;
  height: 250px;
  margin-left: 100px;
}
#thrasher{
  width: 250px;
  height: 250px;
  margin-left: 100px;

}
#palace{
  width: 250px;
  height: 250px;
  margin-left: 100px;
}
#louis{
  width: 250px;
  height: 250px;
  margin-left: 100px;
  margin-top: 100px;
}
#champion{
  width: 250px;
  height: 250px;
  margin-left: 100px;
  margin-top: 100px;
}
#rbw{
  width: 250px;
  height: 250px;
  margin-left: 100px;
  margin-top: 100px;
}
#stussy{
  width: 250px;
  height: 250px;
  margin-left: 100px;
  margin-top: 100px;
}
#burberry{
  width: 250px;
  height: 250px;
  margin-left: 100px;
  margin-top: 100px;
}
#fendi{
  width: 250px;
  height: 250px;
  margin-left: 100px;
  margin-top: 100px;
}

.footer{
  background-color: grey;
  font-size: 20px;
  font-family: Tahoma, Geneva, sans-serif;
  color: white;
  text-align: center;
  word-spacing: 100px;
  padding: 5px 10px 5px ;
}
